<nav class="navbar navbar-toggleable-md navbar-inverse sticky-top  bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Story Board</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="" class="nav-link">Browse Stories</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Create a Story</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <button class="btn btn-primary" type="submit">Sign In</button>
      </li>
    </ul>
  </div>
</nav>
